/**
 * about.css
 * Contains CSS for basic static website named "Hubli - A Go Green Initiative"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Poppins and Mr. Dafoe
    ----------------------------------------
    Colors:
        Green:               #A0D406
        Smoke Grey:          #ACACAC
        Dark Grey:           #505050
        White:               #fff
        Black:               #000   
============================================ */


/******************************************************************************************************************************************************************
                                                                BLOG-GRID-SHOWCASE SECTION
******************************************************************************************************************************************************************/
#blog-grid-showcase{
    height: 50vh;
    width: 100%;
    z-index: 0;
}
.blog-grid-showcase-wrapper{
    height: 100%;
    background-image: url(../img/blog-grid/head-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;
}
.blog-grid-showcase-content{
    color: #fff;
    padding-top: 90px;
    z-index: -3;
}
.blog-grid-showcase-content h1{
    font-weight: bold;
}
.blog-grid-showcase-overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 2;
}

/******************************************************************************************************************************************************************
                                                                BLOG-GRID-CONTENT SECTION
******************************************************************************************************************************************************************/
.blog-grid-content-flex{
    display: flex;
}
.blog-grid-section-content h5{
    color: var(--darkgrey);
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0px 0px 20px;
}
.blog-grid-section p{
    width: 300px;
    margin: 10px 0px 0px 20px;
}
.m-r-50{
    margin-right: 50px;
}
.blog-grid-section a{
    color: #fff;
    background-color: #505050;
    padding: 10px 110px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .2s linear;
}
.blog-grid-section a:hover{
    text-decoration: none;
    color: #fff;
    background-color:  #A0D406;
    cursor: pointer;
    transition: all .2s linear; 
}
.blog-grid-btn span{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}
.blog-grid-btn .blog-green{
    border-radius: 50%;
    background-color: #A0D406;
    padding: 5px 10px;
    margin-left: 10px;
}
.blog-grid-right-keyword input{
    background-color: #eee;
    display: inline-block;
    padding: 10px 50px 10px 15px;
    color: #ACACAC;
}
.blog-grid-right-keyword .btn-green a{
    color: var(--darkGrey);
    border: 2px transparent solid;
    transition: all .3s ease-in-out;

}
.btn-keyword .btn-green{
    color: #fff;
    padding: 10px 30px;
    border-radius: none;
}
.btn-keyword .btn-green:hover{
    color: #505050;
}
.blog-grid-right-keyword .btn-green a:hover{
    cursor: pointer;
    background-color: transparent;color: var(--darkGrey);
    border: 2px transparent solid;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.blog-grid-content-right{
    width: 100%;
    margin-left: 50px;
}
.blog-grid-right-img img{
    border-radius: 10px;
}
.blog-grid-right-flex{
    display: flex;
}
.blog-grid-right-img{
    margin-right: 10px;
}
.blog-grid-post-content{
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
}
.blog-grid-post-contents{
    padding: 10px;
}
.blog-grid-post-contents p{
    color: #000;
}
.separate{
    height: 5px;
    width: 80px;
    border-top: 1px solid #ddd; 
    width: 270px;
    margin-left: 20px;
}
.blog-grid-email-desc{
    background-color: #A0D406;
    padding: 20px;
    border-radius: 10px;
}
.blog-grid-email-desc p{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.blog-grid-email-desc input{
    background-color: #fff;
    border: none;
    padding: 10px;
    color: #ACACAC;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
}
.m-t-11{
    margin-top: 11px;
}
.btn-transparent a{
    display: inline-block;
    border: 2px solid #fff;
    background-color: transparent;
    transition: all .3s ease-in-out;
    padding: 10px 95px;
    margin: 20px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.btn-transparent a:hover{
    color: #505050;
    text-decoration: none;
    background-color: #Fff;
    transition: all .3s ease-in-out;
}
.post-img img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}
.post{
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}
.post-content p{
    color: #505050;
    font-size: 18px;
    font-weight: 500;
}





















    
    