/**
 * about.css
 * Contains CSS for basic static website named "Hubli - A Go Green Initiative"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Poppins and Mr. Dafoe
    ----------------------------------------
    Colors:
        Green:               #A0D406
        Smoke Grey:          #ACACAC
        Dark Grey:           #505050
        White:               #fff
        Black:               #000   
============================================ */


/******************************************************************************************************************************************************************
                                                               CONTACT-US-SHOWCASE SECTION
******************************************************************************************************************************************************************/
#contact-us-showcase{
    height: 50vh;
    width: 100%;
    z-index: 0;
    padding-top: 100px;
}
.contact-us-showcase-wrapper{
    height: 100%;
    background-image: url(../img/contact-page/head-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;
}
.contact-us-showcase-content{
    color: #fff;
    padding-top: 90px;
    z-index: -3;
}
.contact-us-showcase-content h1{
    font-weight: bold;
}
.contact-us-showcase-overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 2;
}
/******************************************************************************************************************************************************************
                                                               CONTACT-INFO SECTION
******************************************************************************************************************************************************************/
.contact{
    display: flex;
}
.contact-left{
    margin-right: 50px;
    margin-left: 150px;
}
.contact-left p{
    font-size: 15px;
    width: 580px;
}
.contact-left .contact-name input{
    padding: 10px 20px;
    width: 100%;
    border: none;
    border: solid 2px #ccc;
    color: #ACACAC;
    display: inline-block;
}
.contact-left .contact-email input{
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border: solid 2px #ccc;
    color: #ACACAC;
}
.contact-left .contact-subject input{
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border: solid 2px #ccc;
    color: #ACACAC;
}
textarea{
    resize: none;
    border: none;
    border: solid 2px #ccc;
    padding: 20px;
}
.btn-green{
    display: inline-block;
}
.contact-left .btn-green{
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}
.contact-left .btn-green:hover{
    text-decoration: none;
    color: #505050;
}
.contact-right h5{
    font-size: 20px;
    font-weight: 700;
    color: #505050;
}
.contact-address p{
    font-size: 16px;
    width: 250px;
    line-height: 25px;
}
.contact-social i{
    padding: 10px 10px 10px 0px;
    color: #505050;
}
.contact-address{
    margin-right: 100px;
}
.contact-mail{
    margin-right: 153px;
}

/******************************************************************************************************************************************************************
                                                                        HEADER SECTION
******************************************************************************************************************************************************************/
.links{
    display: flex;
    margin-top: 30px;
    margin-right: 200px;
}
.nav-wrapper-flex{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
}
.links li a:active,
.links li a:hover{
    background: #505050;
}

.links li a{
    color: #505050;
    border: 2px transparent solid;
    transition: all .3s ease-in-out;
    margin-left: 30px;
    padding: 10px;
}
.links li a:active,
.links li a:hover{
    background: #505050;
    border: 2px transparent solid ;
    color: #fff;
}
.links #dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
}
.links #dropdown a{
    color: #000;
    margin-left:0;
    display: none;
}
.links #dropdown a:active,
.links #dropdown a:hover{
    background: #A0d406;
    margin: 0;
}
.links .dropdowncontent{
    position: absolute;
    top: 5px;
    left: 40px;
    background-color: #fff;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
.nav-wrapper-flex ul.links>li.active>a{
    background: #505050;
    border: 2px transparent solid ;
    color: #fff;
}
.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #A0d406;
/*    border-width: 0 0 1px;*/
}
/*
.scrolled-navbar {
    padding: 15px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.green-nav-top{
    background: #A0D406;
    width: 100%;
}
*/














