/**
 * about.css
 * Contains CSS for basic static website named "Hubli - A Go Green Initiative"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Poppins and Mr. Dafoe
    ----------------------------------------
    Colors:
        Green:               #A0D406
        Smoke Grey:          #ACACAC
        Dark Grey:           #505050
        White:               #fff
        Black:               #000   
============================================ */


/******************************************************************************************************************************************************************
                                                                GALLERY_SHOWCASE SECTION
******************************************************************************************************************************************************************/
#gallery-showcase{
    height: 50vh;
    width: 100%;
    z-index: 0;
}
.gallery-showcase-wrapper{
    height: 100%;
    background-image: url(../img/gallery-page/page-head.jpg);
/*
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
*/
    position: relative;
    z-index: -1;
}
.gallery-showcase-content{
    color: #fff;
    padding-top: 90px;
    z-index: -3;
}
.gallery-showcase-content h1{
    font-weight: bold;
}
.gallery-showcase-overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 2;
}

/******************************************************************************************************************************************************************
                                                                GALLERY-ISOTOPE SECTION
******************************************************************************************************************************************************************/
.isotope-container{
    padding: 0 70px;
}
#isotope-filters{
    text-align: center;
}
.img-container img{
    transition: all .3s ease-in-out;
}
.btn_iso{
    border: none;
    background: transparent;
    padding: 10px;
    text-align: center;
}
.active_iso{
    background: var(--green);
    border-radius: 5px;
    color: #fff;
}

















